<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Collect Book Author Details</title>
</head>
<body>
    <form action="/submit-book-data" method="post">
        Book Name: <input name="bookName" type="text" /> <br />
        Author Name: <input name="authorName" type="text" /> <br />
        Number of Pages: <input name="pages" type="number" min="5" max="1000" /> <br />
        Price: <input name="price" type="number" min="0" /> <br />
        <small> Many more details can be collected <small>  <br />
        <input type="submit" />
    </form>
</body>
</html>