<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1>List of Products We Sell</h1>

<table class="center">
  <tr>
    <th>Product</th>
    <th>Brand</th>
  </tr>
  <tr>
    <td>Mobile Covers</td>
    <td>One Plus Accessories</td>
  </tr>
  <tr>
    <td>Mobile Chargers</td>
    <td>Samsung</td>
  </tr>
  <tr>
    <td>Mobile Phones</td>
    <td>Samsung & One Plus</td>
  </tr>
  <tr>
    <td>Ear Phones</td>
    <td>Boat</td>
  </tr>
  <tr>
    <td>Smart Watches</td>
    <td>Mi and One Plus</td>
  </tr>
</table>

</body>
</html>
