<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1>Price list with discounts</h1>

<table class="center">
  <tr>
    <th>Product</th>
    <th>Price Range</th>
    <th>Discount</th>
  </tr>
  <tr>
    <td>Mobile Covers</td>
    <td>350 to 1280</td>
    <td>upto 10%</td>
  </tr>
  <tr>
    <td>Mobile Chargers</td>
    <td>150 to 1550</td>
    <td>upto 20%</td>
  </tr>
  <tr>
    <td>Mobile Phones</td>
    <td>10000 to 49999</td>
    <td>upto 10%</td>
  </tr>
  <tr>
    <td>Ear Phones</td>
    <td>599 to 9999</td>
    <td>upto 12%</td>
  </tr>
  <tr>
    <td>Smart Watches</td>
    <td>4350 to 11280</td>
    <td>upto 18%</td>
  </tr>
</table>

</body>
</html>
